body {
    background-color:  #FF6600;
}

input[type="text"] {
    height: 10vh;
    
    /* font-size: clamp(1rem, 1.5rem, 2rem); */
    /*Use cqw for width and cqh for height to make it responsive to the viewport size*/
}
textarea {
    /* font-size: clamp(4cqw, 6cqw, 8cqw); */
    font-size: 90cqw;
    height: 50vh;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

ol {
    display: none;
    position: absolute;
}

ol li {
    background-color: #e7e7e7;
    color: black;
    padding: 10px;
    cursor: pointer;
}

#FedExDropdown {
    
}
