

input[type="text"] {
    height: 10vh;
    
    /* font-size: clamp(1rem, 1.5rem, 2rem); */
    /*Use cqw for width and cqh for height to make it responsive to the viewport size*/
}

#FedExDeliveryRange {
        height: 50vh;
}
div p {
    /* font-size: clamp(4cqw, 6cqw, 8cqw); */
    width: 100%;
    font-size: 90%;


}